{
    "RootNamespace": "FormulationManagementSystems",
    "Connections": [
        {
            "Key": "Default",
            "ConnectionString": "Data Source=(LocalDb)\\MSSqlLocalDB; Initial Catalog=FormulationManagementSystems_Default_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        },
        {
            "Key": "Northwind",
            "ConnectionString": "Data Source=(LocalDb)\\MSSqlLocalDB; Initial Catalog=FormulationManagementSystems_Northwind_v1; Integrated Security=True",
            "ProviderName": "System.Data.SqlClient",
            "Tables": []
        },
        {
            "Key": "VDSCSQL",
            "ConnectionString": "Data Source=VDSCSQL; Initial Catalog=vdsc-bm; Integrated Security=true",
            "ProviderName": "System.Data.SqlClient",
            "Tables": [
                {
                    "Tablename": "dbo.AdditonForm",
                    "Identifier": "AdditonForm",
                    "Module": "VDSCSQL",
                    "ConnectionKey": "VDSCSQL",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.BulkBatch",
                    "Identifier": "BulkBatch",
                    "Module": "VDSCSQL",
                    "ConnectionKey": "VDSCSQL",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.BulkBatchData",
                    "Identifier": "BulkBatchData",
                    "Module": "VDSCSQL",
                    "ConnectionKey": "VDSCSQL",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.BulkScan",
                    "Identifier": "BulkScan",
                    "Module": "VDSCSQL",
                    "ConnectionKey": "VDSCSQL",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.BulkStorageTank",
                    "Identifier": "BulkStorageTank",
                    "Module": "VDSCSQL",
                    "ConnectionKey": "VDSCSQL",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Consumption",
                    "Identifier": "Consumption",
                    "Module": "VDSCSQL",
                    "ConnectionKey": "VDSCSQL",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Customer",
                    "Identifier": "Customer",
                    "Module": "VDSCSQL",
                    "ConnectionKey": "VDSCSQL",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Employee",
                    "Identifier": "Employee",
                    "Module": "VDSCSQL",
                    "ConnectionKey": "VDSCSQL",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.EmployeeOvertime",
                    "Identifier": "EmployeeOvertime",
                    "Module": "VDSCSQL",
                    "ConnectionKey": "VDSCSQL",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.EmployeePhoto",
                    "Identifier": "EmployeePhoto",
                    "Module": "VDSCSQL",
                    "ConnectionKey": "VDSCSQL",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Manager",
                    "Identifier": "Manager",
                    "Module": "VDSCSQL",
                    "ConnectionKey": "VDSCSQL",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Material",
                    "Identifier": "Material",
                    "Module": "VDSCSQL",
                    "ConnectionKey": "VDSCSQL",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.ProductionRequest",
                    "Identifier": "ProductionRequest",
                    "Module": "VDSCSQL",
                    "ConnectionKey": "VDSCSQL",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.Recipe",
                    "Identifier": "Recipe",
                    "Module": "VDSCSQL",
                    "ConnectionKey": "VDSCSQL",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.RecipePhase",
                    "Identifier": "RecipePhase",
                    "Module": "VDSCSQL",
                    "ConnectionKey": "VDSCSQL",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.SrcDstPath",
                    "Identifier": "SrcDstPath",
                    "Module": "VDSCSQL",
                    "ConnectionKey": "VDSCSQL",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.SRL_BulkMovement",
                    "Identifier": "SrlBulkMovement",
                    "Module": "VDSCSQL",
                    "ConnectionKey": "VDSCSQL",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.SRL_BulkMovementData",
                    "Identifier": "SrlBulkMovementData",
                    "Module": "VDSCSQL",
                    "ConnectionKey": "VDSCSQL",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.SRL_BulkStorageTankData",
                    "Identifier": "SrlBulkStorageTankData",
                    "Module": "VDSCSQL",
                    "ConnectionKey": "VDSCSQL",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.SRL_BulkTerminalClearance",
                    "Identifier": "SrlBulkTerminalClearance",
                    "Module": "VDSCSQL",
                    "ConnectionKey": "VDSCSQL",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.SRL_Carrier",
                    "Identifier": "SrlCarrier",
                    "Module": "VDSCSQL",
                    "ConnectionKey": "VDSCSQL",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.SRL_MSDS",
                    "Identifier": "SrlMsds",
                    "Module": "VDSCSQL",
                    "ConnectionKey": "VDSCSQL",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.StepInstruction",
                    "Identifier": "StepInstruction",
                    "Module": "VDSCSQL",
                    "ConnectionKey": "VDSCSQL",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.StepInstructionType",
                    "Identifier": "StepInstructionType",
                    "Module": "VDSCSQL",
                    "ConnectionKey": "VDSCSQL",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.StepValueEntries",
                    "Identifier": "StepValueEntries",
                    "Module": "VDSCSQL",
                    "ConnectionKey": "VDSCSQL",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.ValueEntriesData",
                    "Identifier": "ValueEntriesData",
                    "Module": "VDSCSQL",
                    "ConnectionKey": "VDSCSQL",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.ValveList",
                    "Identifier": "ValveList",
                    "Module": "VDSCSQL",
                    "ConnectionKey": "VDSCSQL",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.ValvePositionMap",
                    "Identifier": "ValvePositionMap",
                    "Module": "VDSCSQL",
                    "ConnectionKey": "VDSCSQL",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.VdscArea",
                    "Identifier": "VdscArea",
                    "Module": "VDSCSQL",
                    "ConnectionKey": "VDSCSQL",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.VdscAreaGroup",
                    "Identifier": "VdscAreaGroup",
                    "Module": "VDSCSQL",
                    "ConnectionKey": "VDSCSQL",
                    "PermissionKey": "Administration:General"
                },
                {
                    "Tablename": "dbo.VdscDepartment",
                    "Identifier": "VdscDepartment",
                    "Module": "VDSCSQL",
                    "ConnectionKey": "VDSCSQL",
                    "PermissionKey": "Administration:General"
                }
            ]
        }
    ],
    "KDiff3Path": "C:\\Program Files (x86)\\KDiff3\\kdiff3.exe",
    "TFSIntegration": false,
    "WebProjectFile": "..\\..\\..\\FormulationManagementSystems\\FormulationManagementSystems.Web\\FormulationManagementSystems.Web.csproj",
    "BaseRowClasses": [],
    "RemoveForeignFields": [],
    "CustomGenerate": {},
    "CustomSettings": {},
    "GenerateRow": true,
    "GenerateService": true,
    "GenerateUI": true,
    "GenerateCustom": true
}