@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.VDSCSQL.Consumption.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new FormulationManagementSystems.VDSCSQL.ConsumptionGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>